* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    font-size: 14px;
    padding: 2%;
}

button {
    border: none;
}

button:active {
    box-shadow: 5px 5px 10px -1px rgb(0 0 0 / 30%);
}

.main_calc {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.grid_calc {
    width: 350px;
    background-color: #f3f3f3;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr);
    padding: 1em;
}

#result {
    grid-row: 1/3;
    grid-column: 1/6;
    display: grid;
    justify-items: end;
    align-items: center;
    font-size: 34px;
    font-weight: bold;
    border: none;
    text-align: end;
}

.buttons {
    display: contents;
}

.textAlignmentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.deg_fe {
    grid-row: 3;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.deg {
    grid-column: 1;
}

.rad {
    grid-column: 2;
}

.fe {
    grid-column: 3;
}

.mc_mr_mPlus_minus_ms {
    grid-row: 4;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.memClear {
    grid-column: 1;
}

.mr {
    grid-column: 2;
}

.mPlus {
    grid-column: 3;
}

.mMinus {
    grid-column: 4;
}

.ms {
    grid-column: 5;
}

.trigo_function {
    grid-row: 5;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f3f3f3;
}

.btn-secondary,
.deg_fe>button,
.mc_mr_mPlus_minus_ms>button {
    color: black !important;
    background-color: #f3f3f3 !important;
    border-color: #f3f3f3 !important;
}

.trigo {
    grid-column: 1/3;
}

.function {
    grid-column: 3/5;
}

.grid_keypad {
    grid-row: 6/13;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 0.5em;
}


/* .active,
.deg_fe button:hover {
    background-color: #666;
    color: white;
} */

.degRad {
    grid-column: 1/3;
    grid-column-gap: 0.5rem;
}

.background_color {
    background-color: #bbbec08a;
}

.active_bgColor:active {
    background-color: #bbbec02e;
}

.background_color_num {
    background-color: aliceblue;
    font-weight: bolder;
}

.background_color_equals {
    background-color: #a6cef2;
}